<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	  <script>
		  function test(){
				$.get('/login.do', function(data){
					console.log(data);
				})
		  }
	  </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  	<input type="button" id="bt" onclick="test();" />
  </body>
</html>
