<!DOCTYPE html>
<html>
  <head>
    <title>111</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/javascript/jquery-2.1.1.min.js"></script>
	  <script>

	  </script>
  </head>
  <body>
  	<form action="/uploading.av" method="post" enctype="multipart/form-data">
		<input type="file" name="file" />
		<input type="submit" />
  	</form>
  </body>
</html>
